# Systèmes
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*~

# Secrets / clés (ne JAMAIS committer)
*.pem
*_ci
*_ci.pub
*.key
.env
.env.*
secrets.*

# Artefacts de build / paquets
*.zip
node_modules/
dist/
tmp/
